<div class="container">
  <dl class="info-fields">
    <article>
      <dt>pronouns</dt>
      <dd><a href="https://en.pronouns.page/@kitsunecafe">she/they/it</a></dd>
    </article>
    <article>
      <dt>timezone</dt>
      <dd>UTC-4</dd>
    </article>
    <article>
      <dt>nationality</dt>
      <dd>american</dd>
    </article>
    <article>
      <dt>hulang</dt>
      <dd>english, 日本語</dd>
    </article>
    <article>
      <dt>cpulang</dt>
      <dd>javascript, rust, c#, elixir, html/css</dd>
    </article>
  </dl>
</div>
