<div class="container">
  <dl class="info-fields">
    <div class="info-group">
      <dt>pronouns</dt>
      <dd><a href="https://en.pronouns.page/@kitsunecafe">she/they/it</a></dd>
    </div>
    <div class="info-group">
      <dt>timezone</dt>
      <dd>UTC-4</dd>
    </div>
    <div class="info-group">
      <dt>nationality</dt>
      <dd>american</dd>
    </div>
    <div class="info-group">
      <dt>hulang</dt>
      <dd>english, 日本語</dd>
    </div>
    <div class="info-group">
      <dt>cpulang</dt>
      <dd>javascript, rust, c#, elixir, html/css</dd>
    </div>
  </dl>
</div>
