<dialog class="modal" open modal remember="adult">
  <div class="modal-body" role="dialog" aria-labelledby="modal-content" aria-live="assertive" aria-modal="true">
    <p id="modal-content">This page contains documents with adult language and content. It is not suitable for anyone
      under the age of 18 and may not be suitable for all adult readers.</p>
    <form method="dialog">
      <button value="acknowledged" class="primary" autofocus>I understand, I am over the age of 18</button </form>
  </div>
</dialog>
