<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="/public/css/style.css">
    {% endblock head %}
</head>

<body>
    <div class="full-width center flex column">
      <div class="main-container flex column full-width has-half-gap">
        {% include "nav.html" %}
        {% block body %}
        {{ content }}
        {% endblock body %}
      </div>
      <footer class="has-padding center">
        {% block footer %}
        &copy; {{ now() | date(format="%Y") }} Kitsune Cafe - Made with <a href="https://github.com/kitsunecafe/roxy">Roxy</a>
        {% endblock footer %}
      </footer>
    </div>
</body>

</html>

