<div class="inset-container">
  <dl class="info-fields">
    <article>
      <dt>fedi</dt>
      <dd><a href="https://tech.lgbt/@kitsunecafe">@kitsunecafe@tech.lgbt</a></dd>
    </article>
    <article>
      <dt>discord</dt>
      <dd>kitsunecafe</dd>
    </article>
    <article>
      <dt>git (fem.mint.lgbt)</dt>
      <dd><a href="https://fem.mint.lgbt/kitsunecafe">kitsunecafe</a></dd>
    </article>
    <article>
      <dt>github</dt>
      <dd><a href="https://github.com/kitsunecafe">kitsunecafe</a></dd>
    </article>
    <article>
      <dt>itch.io</dt>
      <dd><a href="https://kitsunecafe.itch.io/">kitsunecafe</a></dd>
    </article>
  </dl>
</div>
