{% extends "index.html" %}
{% block body %}
<main class="flex column has-border-radius has-padding has-bg has-shadow">
  <ul class="no-decoration">
  {% for project in projects | values
    | filter(attribute="date")
    | sort(attribute="date")
    | reverse %}
    <li class="has-quarter-padding">
      <div>
        <a href="{{ project.link }}">{{ project.title }}</a>
        <small class="accent">{{ project.type | join(sep=", ") | capitalize }}</small>
        <small class="muted">{{ project.date | date(format="%b %e, %Y") }}</small>
      </div>
      <div>
        {{ project.description }}
      </div>
    </li>
  {% endfor %}
  </ul>
</main>
{% endblock body %}

