{% extends "index.html" %}
{% block body %}
<main class="flex column has-border-radius has-padding has-bg has-shadow">
  <ul class="no-decoration">
  {% for project in data.projects
    | filter(attribute="frontmatter.date")
    | sort(attribute="frontmatter.date")
    | reverse %}
    {% if project.slug != slug %}
    <li>
      <div>
        <a href="{{ project.frontmatter.link }}">{{ project.frontmatter.title }}</a>
        <small class="accent">{{ project.frontmatter.type | capitalize }}</small>
        <small class="muted">{{ project.frontmatter.date | date(format="%b %e, %Y") }}</small>
      </div>
      <div>
        {{ project.content }}
      </div>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</main>
{% endblock body %}

